<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <span class="navbar">
    <a class="link-button" id="home-nav" href="{{ url_for('home') }}">Home</a>
    <a class="link-button" id="results-nav" href="{{ url_for('results') }}">Results</a>
    <a class="link-button" id="challenge-nav" href="{{ url_for('challenge') }}">Challenge</a>
  </span>
  <main>
    {% block main %}{% endblock %}
  </main>
</body>

</html>